<div class="container">
  <div [hidden]="submitted">
    <h1>Email Form</h1>
    <p class="status" [hidden]="(statusMsg.trim()=== '')">Status: {{statusMsg}}</p>
    <form (ngSubmit)="onSubmit()" #emailForm="ngForm">

      <div class="form-group">
        <dl>
          <dt class="label"><label for="from">From</label></dt>
          <dd class="item">
            <input id="from" type="text" size="50" class="form-control" [(ngModel)]="model.from" name="from" required #from="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div [hidden]="from.valid || from.pristine" class="alert alert-danger">
              <div *ngIf="from.errors && from.errors.required">
                From is required
              </div>
              <div *ngIf="from.errors && from.errors.pattern">
                Email is invalid
              </div>
            </div>
          </dd>
          <dt class="label"><label for="to">To</label></dt>
          <dd class="item"><input id="to" type="text" size="50" class="form-control" [(ngModel)]="model.to" name="to" required #to="ngModel" emails>
            <div [hidden]="to.valid || to.pristine || to.touched" class="alert alert-danger">
              <div *ngIf="to.errors && to.errors.required">
                To is required
              </div>
              <div *ngIf="!to.valid">
                Email is invalid
              </div>
            </div>
          </dd>
          <dt class="label"><label for="cc">cc</label></dt>
          <dd class="item">
            <input type="text" id="cc" size="50" class="form-control" [(ngModel)]="model.cc" name="cc" #cc="ngModel" emails="cc">
            <div [hidden]="cc.valid || cc.pristine|| cc.touched" class="alert alert-danger">
              <div *ngIf="!cc.valid">
                Email is invalid
              </div>
            </div>
          </dd>
          <dt class="label"><label for="bcc">bcc</label></dt>
          <dd class="item"><input id="bcc" type="text" size="50" class="form-control" [(ngModel)]="model.bcc" name="bcc" #bcc="ngModel" emails="bcc">
            <div [hidden]="bcc.valid || bcc.pristine || bcc.touched" class="alert alert-danger">
              <div *ngIf="!bcc.valid">
                Email is invalid
              </div>
            </div>
          </dd>
          <dt class="label"><label for="subject">Subject</label></dt>
          <dd class="item"><input id="subject" type="text" size="50" class="form-control" [(ngModel)]="model.subject" name="subject" required #subject="ngModel">
            <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">Subject is required</div></dd>
          <dt class="label"><label for="text">Body</label></dt>
          <dd class="item"><textarea id="text" rows="15" cols="91" type="text" size="100" class="form-control" [(ngModel)]="model.text" name="text" required #text="ngModel"></textarea>
            <div [hidden]="text.valid || text.pristine" class="alert alert-danger">Body is required</div></dd>
          <dt class="label"></dt>
          <dd class="item"><button type="submit" class="btn btn-success" [disabled]="!emailForm.form.valid || btnClick">Send</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-default" (click)="emailForm.reset()">Clear</button></dd>
        </dl>
      </div>
    </form>
  </div>
  <div [hidden]="!submitted">
    <h1>Email details</h1>
    <p class="status">Status: {{statusMsg}}</p>
    <dl>
      <dt class="label"><label for="from">From</label></dt>
      <dd class="item">{{model.from}}</dd>
      <dt class="label"><label for="to">To</label></dt>
      <dd class="item">{{model.to}}</dd>
      <dt class="label"><label for="subject">Subject</label></dt>
      <dd class="item">{{model.subject}}</dd>
      <dt *ngIf="model.cc?.length>0" class="label"><label for="cc">cc</label></dt>
      <dd *ngIf="model.cc?.length>0"  class="item">{{model.cc}}</dd>
      <dt *ngIf="model.bcc?.length>0"  class="label"><label for="bcc">bcc</label></dt>
      <dd *ngIf="model.bcc?.length>0"  class="item">{{model.bcc}}</dd>
      <dt class="label"><label for="text">Body</label></dt>
      <dd class="item">{{model.text}}</dd>
      <dt class="label"></dt>
      <dd class="item">&nbsp;</dd>
      <dt class="label"></dt>
      <dd class="item"><button class="btn btn-primary" (click)="submitted=false;emailForm.reset();statusMsg='';btnClick=false">New email</button></dd>
    </dl>
  </div>
</div>
